body {
    font-family: Arial, sans-serif;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}
.navbar button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.navbar button:hover {
    background-color: #555;
}
.main_content {
    margin-top: 50px;
    padding: 20px;
}
.content {
    margin-top: 0px;
    padding: 20px;
}
.paragraph {
    background-color: rgb(247, 233, 185);
    border: 1px solid rgb(184, 163, 94);
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.paragraph .content {
    display: none;
    padding: 10px 0;
}
#menu-button {
    position: absolute;
    right: 0;
}
#logo {
    position: absolute;
    left: 0;
    font-weight: bolder;
}
.menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 1000;
}
.menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}
.menu a:hover {
    background-color: #f1f1f1;
}
#tbHead{
    font-weight: bold;
}
.paragraph_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.paragraph_top_but {
    display: flex;
    gap: 10px; /* Adjust the gap between buttons as needed */
}

.paragraph_top_search {
    display: flex;
    align-items: center;
    gap: 5px; /* Adjust the gap between input and button as needed */
}

/* .paragraph_but{
    padding: 10px 0;
    text-align: center;
}
#voteSearch{
    position: absolute;
    right: 10;
    font-weight: bolder;
} */
.chat-window {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    height: 400px;
    border: 1px solid #ddd;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 1000;
}
.chat-window header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}
.chat-window .content {
    padding: 10px;
}
.chat-window .msgToSend {
    padding: 10px;
}
.chat-window textarea {
    width: 100%;
    height: 300px;
}
#freeValuePoints{
    font-weight:bolder;
}
.value-input {
    width: 40px; /* Adjust width as needed */
    text-align: center;
  }
  